<?xml version="1.0" encoding="utf-8"?><!-- References @ http://stackoverflow.com/questions/38372234/android-studio-how-to-change-app-nametoolbar-for-each-activity **Karina -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unscripted.www.fitnessappprototype">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="U-FIT"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WorkoutActivity"
            android:label="WORKOUT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profileTest"
            android:label="PROFILE"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>